.header {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 7vh;
    font-weight: bold;
}