.title {
    font-size: 7vh;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}